
.body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #0A143A;
}
.menu-link{
    text-decoration-line: none;
    color: inherit;
}
.header{
    padding-top: 30px;
}

.container{
    max-width: 1146px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-bottom: 24px;
}
.navbar-menu{
    margin-right: auto;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0 22px;
    display: flex;

}

.menu-item{
    margin-right: 14px;
}

.button{
    display: inline-block;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;

}

.button-link{
    color: inherit;

}
.button-primary{
    color:#fff;
    background-color: #256EEB;
    border-radius: 5px;

}
.button-group{
    display: flex;
}

.search-panel{
    height: 50px;
    display: flex;
    background-color: #256EEB;
    padding: 3px;
    border-radius: 5px;
}

.search-input{
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 14px 21px;
}

.search-button{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border:none; 
}
.search-button-text{
    margin-left: 5px;
}
    